<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Write a new Blog!</title>
</head>
<body>
    <nav class="Nav-bar">
        <ul class="Nav-links">
            <li><a href="/">Home</a></li>
        </ul>
       </nav>
       <br>
    <form action="/submit" method="post">
        <input type="text" name="Title" id="" placeholder="Title">
        <br>
        <br>
        <textarea name="content" id="" cols="200" rows="40" placeholder="Content..."></textarea>
        <br>
        <div class="write-submit">
        <button type="submit">Submit</button>
    </div>
    </form>
</body>
</html>