<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Write-Edit</title>
</head>
<body>
    <nav class="Nav-bar">
        <ul class="Nav-links">
            <li><a href="/">Home</a></li>
        </ul>
       </nav>
       <div class="button-container">
        <a href="/writeContent"><button>Write a new Blog!</button></a>
        <a href="/edit_deleteContent"><button>Edit or Delete your Blog!</button></a>
       </div>
    
</body>
</html>