<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Write a Blog!</title>
</head>
<body>
    <nav class="Nav-bar">
        <ul class="Nav-links">
            <li><a href="/">Home</a></li>
        </ul>
       </nav>
       <div class="button-container">
        <button><a href="/login">Login</a></button>
        <button><a href="/register">Register</a></button>
       </div>
   
</body>
</html>